---
layout: default
---
<main class="container">
  <div class="segmenter" style="background-image: url(/assets/main/jacksonstbridge.jpg)"></div>
  <div class="content">
    <h1 class="home_title">Phil Cheng</h1>
    <div class="home_subtitle">Thanks for dropping by. Check out my work through the sites below and <a href="mailto:thephilcheng@gmail.com">contact me here</a> if you'd like to chat.</div>
    <div class="connect">
      <div class="social">
        <div class="icon1" id="icon"><a href="http://www.dribbble.com/philcheng"><img src="/assets/main/dribbble.svg" alt="dribbble"></a></div>
        <div class="icon2" id="icon"><a href="http://codepen.io/philcheng/"><img src="/assets/main/codepen.svg" alt="codepen"></a></div>
        <div class="icon3" id="icon"><a href="http://behance.net/philcheng/"><img src="/assets/main/behance.svg" alt="behance"></a></div>
        <div class="icon4" id="icon"><a href="https://www.linkedin.com/in/thephilcheng"><img src="/assets/main/linkedin.svg" alt="linkedin"></a></div>
        <div class="name1">dribbble</div>
        <div class="name2">codepen</div>
        <div class="name3">behance</div>
        <div class="name4">linkedin</div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><a href="https://github.com/philcheng/philcheng.github.io">Handmade</a> with pride in the</p>
    {% include footeremoj.html %}
    <p>TL</p>
  </div>
</main>
<script src="js/anime.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/main.js"></script>
{% include segmentedbackground.html %}
{% include googleanalytics.html %}
