---
layout: default
---

<body>

  <div class="container">
    <div class="background">
        <h1 class="title">Born and raised in New York. Grew in Atlanta.</h1>
        <div class="subtitle">Industrial and UX designer. Connect with me through the channels below.</div>
        <div class="social">
          <a href="http://www.dribbble.com/philcheng"><img src="/assets/dribbble.svg" alt=""></a>
          <a href="http://codepen.io/philcheng/"><img src="/assets/codepen.svg" alt=""></a>
          <!-- <a href="http://behance.net/philcheng/"><img src="/assets/behance.svg" alt=""></a> -->
          <a href="https://www.linkedin.com/in/philcheng0"><img src="/assets/linkedin.svg" alt=""></a>
          <a href="mailto:chengp89@gmail.com"><img src="/assets/email.svg" alt=""></a>
        </div>
        <div class="footer">
          <p><a href="https://github.com/gugujee/gugujee.github.io">Handmade</a> with pride in the</p>
          {% include footeremoj.html %}
          <p>TL</p>
        </div>
    </div>
  </div>

  {% include googleanalytics.html %}

</body>