<!-- segmented background script -->
<script>
(function() {
	var segmenter = new Segmenter(document.querySelector('.segmenter'), {
		pieces: 1,
		positions: [
			{top: 8, left: 8, width: 85, height: 85},
		],
		animation: {
			duration: 3000,
			easing: 'easeOutCubic',
			delay: 0,
			opacity: 1,
			translateZ: 30,
			translateX: {min: 0, max: 0},
			translateY: {min: 0, max: 0}
		},
		parallax: true,
		shadows: true,
		parallaxMovement: {min: 10, max: 40},
		onReady: function() {
			segmenter.animate();
		}
	});
})();
</script>
