// home page---------------------------------

.container {
	height: 100%;
}

.segmenter {
	background-image: url(/assets/jacksonstbridge.jpg);
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.segmenter__background,
.segmenter__pieces,
.segmenter__piece-wrap,
.segmenter__piece-parallax,
.segmenter__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-style: preserve-3d;
}

.segmenter__piece-parallax {
	transition: transform 0.2s ease-out;
}

.segmenter__pieces {
	perspective: 400px;
}

.segmenter__background,
.segmenter__piece,
.segmenter {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.segmenter__shadow {
	position: absolute;
	opacity: 0;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
	box-shadow: 2px 20px 35px rgba(25, 23, 20, 0.75);
}

.content {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home_title {
	max-width: 730px;
	font-size: 2.8em;
	line-height: 1.2em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.05em;
	margin: 0 50px 10px 50px; 
	color: #FFFFFF;
}

@media (max-width: 500px) {
  .home_title {
    font-size: 2.3em;
  }
}

.home_subtitle {
	max-width: 750px;
	font-size: 1.05em;
	letter-spacing: 0.1em; 
	font-weight: 400;
	text-align: center;
	margin: 0 50px; 
	color: #FFFFFF;
}

.connect {
	margin: 35px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects {
	margin-bottom: 30px;

}

.connect #icon {
	display: inline-block;
	padding: 7px; 
}

.name1,
.name2, 
.name3, 
.name4,
.name5 {
	position: absolute;
	margin: 5px 0 0 0;
	width: 265px;
	opacity: 0;
	color: #FFFFFF;
	transition: all 0.3s ease-out;
	font-weight: 300;
}

.connect:hover #icon,
.connect:hover #icon-lrg {
	opacity: 0.5;
}

.social:hover #icon:hover,
.projects:hover #icon-lrg:hover {
	opacity: 1.0;
}

.icon1:hover ~ .name1 {
  margin: 10px 0;
  opacity: 1.0;
}
.icon2:hover ~ .name2 {
  margin: 10px 0;
  opacity: 1.0;
}
.icon3:hover ~ .name3 {
  margin: 10px 0;
  opacity: 1.0;
}
.icon4:hover ~ .name4 {
  margin: 10px 0;
  opacity: 1.0;
}
.icon5:hover ~ .name5 {
  margin: 10px 0;
  opacity: 1.0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
 	text-align: center;
 	color: #FFFFFF;
}

p,
svg {
  display:inline-block;
  margin: 25px 0 10px 0;
}

svg {
  margin: 5px -5px 0 0;
}

// work page---------------------------------
.work_wrap {
	text-align: center;
}

.home_link {
	margin: 20px;
	text-transform: uppercase;
}

.home_link a {
	font-size: 1.25em;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #000000;
	text-decoration: none;
}

.home_link a:hover {
	text-decoration: underline;
}

.work_header {
	background-color: #333333;
	padding: 50px;
	color: #FFFFFF;
	line-height: 30px;
	font-weight: 300;
}

.work_title {
	text-transform: uppercase;
	font-size: 1.875em;
	letter-spacing: 3px;
}

.work_subtitle {
	letter-spacing: 1px;
}

.work_piece {
	margin: 30px 0;
}

.work_piece img {
	max-width: 1220px;
	width: 100%;
	margin: 30px 0;
}
