<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>

    <div class="container">
      <div class="background">
          <h1 class="title">Born and raised in New York. Grew in Atlanta.</h1>
          <div class="subtitle">Industrial and UX designer. Connect with me through the channels below.</div>
          <div class="social">
            <a href="http://www.dribbble.com/philcheng"><img src="/assets/dribbble.png" alt=""></a>
            <a href="http://codepen.io/philcheng/"><img src="/assets/codepen.png" alt=""></a>
            <a href="https://www.linkedin.com/in/philcheng0"><img src="/assets/linkedin.png" alt=""></a>
            <a href="mailto:chengp89@gmail.com"><img src="/assets/email.png" alt=""></a>
          </div>
          <div class="footer">
            <p>Made with pride in the</p>
            {% include footeremoj.html %}
            <p>TL</p>
            </div>
      </div>
    </div>

    {% include googleanalytics.html %}

  </body>

</html>
